.footer {
  text-align: center;
  background-color: black;
  color: white;
  width: 100%;
  bottom: 0;
}

.mat-icon-button {
  margin: 30px;
}

a:hover {
  color: white;
  background-color: ROYALBLUE;
}

:host /deep/ .mat-button-wrapper {
  vertical-align: sub;
}
