<footer class="footer">
  <!-- facebook -->
  <a mat-icon-button aria-label="Visítenos en Facebook" href="https://www.facebook.com/Clara-Jackson-Universitario-263541247053677" target="_blank">
    <fa-icon [icon]="faFacebookF" size="2x"></fa-icon>
  </a>
  <!-- twitter -->
  <a mat-icon-button aria-label="Visítenos en Twitter" href="https://twitter.com/ClaraJacksonU" target="_blank">
    <fa-icon [icon]="faTwitter" size="2x"></fa-icon>
  </a>
  <!-- instagram -->
  <a mat-icon-button aria-label="Visítenos en Instagram" href="https://www.instagram.com/clarajacksonu/?hl=es-la" target="_blank">
    <fa-icon [icon]="faInstagram" size="2x"></fa-icon>
  </a>
</footer>
