<mat-card class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="posicion">
      <mat-header-cell *matHeaderCellDef> Posición </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.posicion}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="equipo">
      <mat-header-cell *matHeaderCellDef> Equipo </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.equipo}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="g">
      <mat-header-cell *matHeaderCellDef> G </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.g}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="p">
      <mat-header-cell *matHeaderCellDef> P </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.p}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="e">
      <mat-header-cell *matHeaderCellDef> E </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.e}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="puntos">
      <mat-header-cell *matHeaderCellDef> PTS </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.puntos}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-card>
