.example-card {
  max-width: 250px;
  min-width: 200px;
  margin-bottom: 20px;
}

.example-header-image {
  background-image: url('../../../assets/imganes/logo_cju.jpg');
  background-size: cover;
}

.jugadores {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}
