.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar {
  /* background: inherit; */
  background-color: ROYALBLUE;
  color: white;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.menu {
  margin-left: auto;
}

.menu a:hover {
  color: white;
  background-color: black;
}
